@model IEnumerable<BigSchool.Models.Course>
@{
    ViewBag.Title = "Mine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #customers td, #customers th {
            border: 1px solid #03EBF7;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #FDFDFD;
        }

        #customers tr:hover {
            background-color: #FAF89B;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #8400E3;
</style>
<div style="text-align:center;">
    <h1>
        DANH SÁCH ĐƯỢC TẠO BỞI GIẢNG VIÊN
    </h1>
</div>
<table id="customers">
    <tr>
        <th>Ngày</th>
        <th>Tháng</th>
        <th>Năm</th>
        <th>Thời gian</th>
        <th>Địa điểm</th>
        <th>Loại</th>
        <th>Tên giảng viên</th>
    </tr>

    @foreach (var course in Model)
    {
        <tr>
            <td>@course.DateTime.ToString("dd")</td>
            <td>@course.DateTime.ToString("MM")</td>
            <td>@course.DateTime.ToString("yyyy")</td>
            <td>@course.DateTime.ToString("HH:mm")</td>
            <td>@course.Place</td>
            <td>@course.Category.Name</td>
            <td>@course.Lecturer.Name</td>
            <td><a href="@Url.Action("Edit","Courses",new {id =course.Id})">Edit</a></td>
            <td><a href="#" class="js-cancel-course" data-course-id="@course.Id">Cancel</a></td>
            <td><a href="">Delete</a></td>
        </tr>
    }
</table>
@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-cancel-course").click(function (e) {
                e.preventDefault();
                var link = $(e.target);
                bootbox.confirm("Bạn có chắc Cancel không ??",
                    function () {
                        $.ajax({
                            url: "/api/course/" + link.attr("data-course-id"),
                            method: "DELETE"
                        })
                            .done(function () {
                                link.parents("li").fadeOut(function () {
                                    $(this).remove();
                                });
                            })
                            .fail(function () {
                                alert("Somthing failed!");
                            });
                    });
            });
        });
    </script>
}

