@model BigSchool.ViewModels.CourseViewModel
@{
    ViewBag.Title = "Home Page";
}
@{
    var att = Model.Attendances.ToList();
    var fl = Model.Followings.ToList();
    var course1 = Model.UpcommingCourses.ToList();
}
<style>
    #lo {
        text-align: center;
    }

    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #customers td, #customers th {
            border: 1px solid #03EBF7;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #FDFDFD;
        }

        #customers tr:hover {
            background-color: #FAF89B;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #8400E3;
            color: white;
        }

    #lolo {
        background-color: #9A0CFF;
    }
</style>
<br />
<div style="text-align:center;">
    <h1>
        DANH SÁCH CÁC KHÓA HỌC
    </h1>
</div>
<table id="customers">
    <tr>
        <th>Ngày</th>
        <th>Tháng</th>
        <th>Năm</th>
        <th>Thời gian</th>
        <th>Địa điểm</th>
        <th>Loại</th>
        <th>Tên giảng viên</th>
        <th>Đăng kí</th>
        <th>Theo dõi</th>
    </tr>

    @foreach (var course in course1)
    {
        if (course.IsCanceled == false)
        {
            <tr>
                <td>@course.DateTime.ToString("dd")</td>
                <td>@course.DateTime.ToString("MM")</td>
                <td>@course.DateTime.ToString("yyyy")</td>
                <td>@course.DateTime.ToString("HH:mm")</td>
                <td>@course.Place</td>
                <td>@course.Category.Name</td>
                <td>@course.Lecturer.Name</td>
                <td>
                    @if (Model.ShowAction)
                    {
                        var x = 0;
                        foreach (var ff in att)
                        {
                            if (ff.CourseId == course.Id)
                            {
                                x = x + 1;
                                <button data-course-id="@course.Id" class="btn btn-success btn-sm js-toggle-attendance">Going</button>
                            }
                        }
                        if (x == 0)
                        {
                            <button data-course-id="@course.Id" class="btn btn-default btn-sm js-toggle-attendance">Going?</button>
                        }

                    }
                </td>
                <td>
                    @if (Model.ShowAction)
                    {
                        var x = 0;
                        foreach (var atta in fl)
                        {
                            if (atta.FolloweeId == course.LecturerId)
                            {
                                x = x + 1;
                                <button class="btn btn-success btn-sm js-toggle-follow" data-user-id="@course.LecturerId">Follow</button>
                            }
                        }
                        if (x == 0)
                        {
                            <button class="btn btn-default btn-sm js-toggle-follow" data-user-id="@course.LecturerId">Follow</button>
                        }

                    }

                </td>

            </tr>
        }

    }
</table>
@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-toggle-attendance").click(function (e) {
                var button = $(e.target);
                if (button.hasClass("btn-default")) {
                    $.post("/api/attendances", { courseId: button.attr("data-course-id") })
                        .done(function () {
                            button
                                .removeClass("btn-default")
                                .addClass("btn-info")
                                .text("Going");
                        })
                        .fail(function () {
                            alert("Something failed!");
                        });
                } else {
                    $.ajax({
                        url: "api/attendances/" + button.attr("data-course-id"),
                        method: "DELETE"
                    })
                        .done(function () {
                            button
                                .removeClass("btn-default")
                                .addClass("btn-info")
                                .text("Going");
                        })
                        .fail(function () {
                            alert("Something failed!");
                        });
                }

            });
            $(".js-toggle-follow").click(function (e) {
                var button = $(e.target);
                $.post("/api/followings", { followeeId: button.attr("data-user-id") })
                    .done(function () {
                        button.text("Following");
                    })
                    .fail(function () {
                        alert("Something failed");
                    });
            });
        });
    </script>
}


